<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="cucumber.eclipse.python.launching.localCucumberBehave">
    <stringAttribute key="cucumber feature" value=""/>
    <stringAttribute key="cucumber tags" value=""/>
    <booleanAttribute key="is dry-run?" value="false"/>
    <booleanAttribute key="is no-capture?" value="false"/>
    <booleanAttribute key="is verbose?" value="false"/>
    <stringAttribute key="python interpreter" value="python"/>
    <stringAttribute key="working directory" value="C:\Users\karra\eclipse-workspace\crs"/>
</launchConfiguration>
